@import url(../../global/var.css);

.subcontainer {
	min-height: 100vh;
	width: 100%;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.subcontainer > p {
	width: 80%;
	margin: 10px 0px;
	max-width: 1000px;
	font-size: 18px;
}

h2 {
	margin: 80px;
}
