---
import style from "./style.module.css";

type Props = {
    content: string;
};

const {content} = Astro.props;
---

<div class={style.container}>
    <span class={style.content}>{content}</span>
</div>

