---
import style from "./style.module.css";

type Props = {
	title: string;
	modifier?: string;
};

const {title, modifier = ""} = Astro.props;
---

<h1 class={`${style.title} ${modifier}`}>{title}</h1>
