---
import MediumTitle from "../../components/medium-title/MediumTitle.astro";
import style from "./style.module.css";
---

<section class={`${style.container} section`}>
    <MediumTitle title="Nuestros proyectos" />
    <div class={`${style.subcontainer} delimiter`}>
        
    </div>
</section>