.container {
    padding: 80px 0px;
    background-color: var(--decoration);
}

.subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carouselWrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel {
  width: 100%;
}

.track {
  display: flex;
  width: max-content;
  gap: 16px;
  animation: scroll-infinite 60s linear infinite;
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.track:hover {
  animation-play-state: paused;
}


@media (max-width: 768px) {
  .track {
    animation-duration: 20s;
  }
}
