---
import style from "./style.module.css"; 
---

<footer class={`${style.container} section`}>
    <div class={`${style.subcontainer} delimiter`}>
        <div class={style.content}>
            <h3>Contáctanos</h3>
            <a href="mailto:dev.cswap@gmail.com" aria-label="enviar correo">dev.cswap@gmail.com</a>
            <a href="https://wa.me/+543516135462" aria-label="enviar mensaje">+54 351 613-5462</a>
            <a href="https://www.instagram.com/coo.swap" aria-label="instagram">@coo.swap</a>
        </div>
        <div class={style.content}>
            <h3>Información</h3>
            <p>Córdoba, Argentina</p>
        </div>
    </div>
</footer>