@import url(../../global/var.css);

.background {
	background-image: url(../../assets/patronCswap.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.subcontainer {
	width: 100%;
	max-width: 1700px;
	gap: 20px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
