---
import style from './style.module.css';
---

<section class={`${style.container} section`}>
    <img src="/assets/other/herodecoration.svg" alt="" class={style.decoration} />
    <div class={`${style.subcontainer} delimiter`}>
        
    </div>
</section>