@import url(../../global/var.css);

.subcontainer {
	height: 100%;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	/* background-image: url(../../assets/patronCswap.svg);
	background-size: cover; */
}
