---
import ServiceCard from '../../components/service-card/ServiceCard.astro';
import style from './style.module.css';
---

<section class={`${style.container} section`}>
    <img class={style.avobeDecoration} src="/assets/other/services_vectorABOVE.svg" alt="decoración" />
    <div class={`${style.subcontainer} delimiter`}>
        <ServiceCard
            title="Diseño gráfico" 
            description="Creá una marca única e impactante." 
            icon="/assets/icons/service-gd.svg" 
            link="/services/graphic-design" 
        />
        <ServiceCard
            title="Diseño UX/UI" 
            description="Mejorá la calidad de tus proyectos." 
            icon="/assets/icons/service-uxui.svg" 
            link="/services/uxui" 
        />
        <ServiceCard
            title="Construcción" 
            description="Desarrollo e implementación de webs y aplicaciones android." 
            icon="/assets/icons/service-dev.svg" 
            link="/services/development" 
        />
    </div>
    <img class={style.belowDecoration} src="/assets/other/services_vectorBELOW.svg" alt="decoración" />
</section>