.container {
	height: 100%;
	width: 100%;
	padding: 80px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.serviceContainer {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 40px 0px;
	gap: 45px;
}

.serviceContainer > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 45px;
}
