.gradient {
	text-align: center;
	font-size: 120px;
	font-weight: 900;
	padding: 10px 25px;
	background: linear-gradient(to right bottom, var(--primary), var(--secondary));
	opacity: 0.95;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
	.gradient {
		font-size: 100px;
	}
}

@media (max-width: 555px) {
	.gradient {
		font-size: 90px;
	}
}


@media (max-width: 495px) {
	.gradient {
		font-size: 65px;
	}
}



