.title {
	text-align: center;
	font-size: 120px;
	font-weight: 900;
	padding: 10px 25px;
	color: var(--primary);
	opacity: 0.95;
}

@media (max-width: 768px) {
	.title {
		font-size: 100px;
	}
}

@media (max-width: 555px) {
	.title {
		font-size: 90px;
	}
}


@media (max-width: 495px) {
	.title {
		font-size: 65px;
	}
}



