.button {
	height: 80px;
	width: 300px;
	color: var(--background);
	background-color: var(--main);
	font-weight: 600;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	cursor: pointer;
}

@media screen and (max-width: 1500px) {
	.button {
		height: 60px;
		width: 200px;
		font-size: 18px;
	}
}
