@import url(../../global/var.css);

.box {
	height: 40px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0px;
	border: none;
	border-radius: 10px;
	color: var(--background);
	background-color: var(--main);
}
