:root {
	
	--primary: #1B134F;
 	--on-primary: #FBF8FF;
	
	--secondary: #DCDDFE;
	--on-secondary: #63607A;
	
	--tertiary: #7A81C7 ;
	--on-tertiary: #DCDDFE;
	
	--surface: #FBF8FF;
	--on-surface: #63607A;

	
	--background: #FBF8FF;
	--on-background: #63607A ;
	
	--decoration: #C3C6F0;
	
	--max-width: 1366px;
	--min-width: 360px;
}