@import url(../../global/var.css);

.box {
	height: 350px;
	width: 350px;
	gap: 10px;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
}

.image {
	height: 70%;
	width: 100%;
	border-radius: 18px;
	object-fit: cover;
}

.boxContent {
	width: 100%;
	color: var(--contrast);
	border-radius: 0px 0px 18px 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	width: 100%;
	font-size: 22px;
	font-weight: 400;
	text-align: start;
}

.description {
	width: 100%;
	font-weight: 300;
	font-size: 14px;
	text-align: start;
}
