.container {
	height: 100px;
	width: 320px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
	background-color: var(--main);
	border-radius: 10px;
}

.name {
	font-weight: 600;
	font-size: 22px;
	color: var(--background);
}
