---
import MediumTitle from "../../components/medium-title/MediumTitle.astro";
import style from "./style.module.css";
---

<section class={`${style.container} section`}>
    <div class={`${style.subcontainer} delimiter`}>
        <MediumTitle title="¿Por qué elegirnos?" />
    </div>
</section>