---
import MediumTitle from "../../components/medium-title/MediumTitle.astro";
import SmallTitle from "../../components/small-title/SmallTitle.astro";
import WhyList from "../../components/why-list/WhyList.astro";
import style from "./style.module.css";
---

<section class={`${style.container} section`} id="nosotros">
	<div class="delimiter">
		<div class={style.titleWrapper}>
			<MediumTitle title="¿Por qué elegirnos?" />
			<SmallTitle title="Soluciones que marcan la diferencia" />
		</div>

		<div class={style.gridContainer}>
			<WhyList />
		</div>
	</div>
</section>
