---
import style from './style.module.css'

type Props = {
  name: string,
  href: string,
  ariaLabel: string,
  modifier: string
}

const { name, href, ariaLabel, modifier = ""} = Astro.props;
---

<a class={`${style.container} ${modifier}` } href={href} aria-label={ariaLabel}>
  { name }
</a>
