@import url(../../global/var.css);

.navBox {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: var(--background);
}

.close {
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.navList {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.navRoutes {
	width: 100%;
	margin: 15px 0px;
	text-align: center;
	list-style: none;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 1px;
}

@media (min-width: 900px) {
	.close {
		display: none;
	}
	.navBox {
		height: auto;
		width: auto;
		position: initial;
		background-color: transparent;
	}
	.navList {
		width: auto;
		flex-direction: row;
		gap: 15px;
	}
	.navRoutes {
		font-size: 14px;
	}
	.navRoutes > a {
		color: var(--tertiary);
	}
}
