---
import MediumTitle from "../../components/medium-title/MediumTitle.astro";
import PricingCard from "../../components/pricing-card/PricingCard.astro";
import style from "./style.module.css";
---

<section class={`${style.container} section`} id="precios">
    <MediumTitle title="Trabajá con nosotros" />
    <div class={`${style.subcontainer} delimiter`}>
        <div class={style.pricing}>
            <PricingCard 
                title="Página web" 
                description="Materializá tus ideas"
                price="175.000,00" 
                features={["Diseño UX/UI", "Construcción de sitio web", "Optimización rendimiento", "Optimización SEO"]} 
            />
            <PricingCard 
                title="Aplicación Mobile" 
                description="Materializá tus ideas"
                price="650.000,00" 
                features={["Diseño UX/UI", "Desarrollo de aplicación nativo", "iOS, Android o ambos", "Despliegue en tiendas de aplicaciones"]} 
            />
            <PricingCard 
                title="Sistema de información" 
                description="Materializá tus ideas"
                price="1.350.000,00" 
                features={["Diseño UX/UI", "Desarrollo de sistema a medida", "Implementación y despliegue"]} 
            />
        </div>
        <div class={style.pricing}>
            <PricingCard 
                title="Diseño UX/UI" 
                description="Materializá tus ideas"
                price="69.000,00" 
                features={["Estudio de experiencia de usuario", "Wireframes en baja y alta fidelidad", "Prototipo interactivo"]} 
            />
            <PricingCard 
                title="Identidad visual básico" 
                description="Ideal para comenzar tu negocio"
                price="89.000,00" 
                features={["Brief", "Logo + versiones", "Paleta de colores", "Tipografía", "Elementos gráficos"]} 
            />
            <PricingCard 
                title="Identidad visual completo" 
                description="Ideal para potenciar tu marca"
                price="105.000,00" 
                features={["Brief", "Logo + versiones", "Paleta de colores", "Tipografía", "Elementos gráficos", "Manual de marca"]} 
            />
        </div>
    </div>
</section>